.navbar {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem 1.5rem;
    background-color: #141B48;
}

.navbar-logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo img {
    margin-top: 1.5rem;
    height: 100px;
    width: auto;
    display: block;
}